@charset "UTF-8";
/* CSS 스타일은 여기에 추가 */
#loginForm, .form-select, .form-control, #submitButton {
	width: 100%;
}

#loginBtn {
	width: 10%
}

#userIdarea, #userPwarea {
	width: 70%;
}

#findId, #findPw {
	font-size: 12px;
	color: whitesmoke;
}

#kakaobtn {
	display: flex;
	justify-content: center;
}