@charset "UTF-8";

#masthead-content {
	max-width: 800px;
	width: 100%;
	max-height: 500px;
	height: 100%;
}

.ward_td {
	width: 20%;
	text-align: center;
}

.container-fluid {
	max-height: 500px;
	height: 100%;
}

.ward_class {
	margin-left: 10px;
}

.ward_img {
	border-radius: 30px;
	width: 50%;
	cursor: pointer;
	transition: border 0.3s ease;
}

.ward_img:hover {
	border: 2px solid #FFD700;
	border-radius: 10px;
}

.ward_img.clicked {
	border: 2px solid #FFD700;
	border-radius: 10px;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    height: 400px; /* 차트 컨테이너 높이 설정 */
}

.myLineChart,
.myBarChart {
    width: 49%;
    height: 100%; /* 차트의 높이를 컨테이너 높이에 맞춤 */
}




